.container {
  padding: 1rem;
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  justify-items: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  margin: 0;
  text-align: center;
}
