.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
}
.short-entry {
  font-size: 1.2em;
}
.description {
  font-size: 1.2em;
}
